@use "../../css/styles.scss";

// Main Product Card 
.product-card {
    background-color: styles.$background-color;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 19vw;
    margin: 1rem 0 1rem 0;
    padding: 0;

    border: styles.$secondary-color transparent 1px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.147);
    transition: all 0.8s ease-in-out;
    transition-delay: initial 0.3s;


    &:hover {
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
        transition-delay: 0s;
        transition-duration: 0s;
        box-shadow: 0 0 8px #33333386;
    }
}

.card-image-container {
    height: 15rem !important;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #8181812e;




    & .card-image {
        width: 50%;
        margin: 1.2rem 0 0 1.3rem;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }


}



// .card-body {
//     overflow: hidden;
//     width: 100%;
//     padding: 0;
//     margin-bottom: 0.8rem;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

//     @media (min-width: 768px) {
//         height: 60%;

//     }

//     @media (min-width: 1024px) {
//         justify-content: flex-end;
//         margin-bottom: 0.5rem;
//         height: 60%;

//     }

//     @media (min-width: 1440px) {
//         justify-content: flex-end;
//         margin-bottom: 0.5rem;
//         height: 70%;

//     }
// }

.card-body-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    height: 7vh;
}

.card-body-price {
    font-size: 1.2vw;
    padding-bottom: 1.1vh;
}



.card-buttons-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1rem 0 1rem;
    border-top: solid 2px #8181812e;
    background-color: transparent;
}

.card-button-add {
    & .button-class {
        display: flex;
        justify-content: space-evenly;
        gap: 8px;
        align-items: center;
        font-size: 75%;
        width: 12vw;
        height: 100%;
        padding: 0.4rem 0rem 0.4rem 0rem;
        border: none;
        text-decoration: none;
        background-image: styles.$gradient-background;

        & .shopping-icon {
            font-size: 1.4vw;
        }
    }
}

.card-favorite-icon {
    object-position: center;
    padding: 0;
    margin: 0;
}

// @media (min-width: 768px) {

//     height: 30%;


//     & .card-button-add {
//         width: 75%;
//         height: 100%;
//         padding-left: 0rem;

//         & .button-class {
//             width: 18vw;
//             height: 4.2vh;
//             margin-right: 1rem;

//             & .shopping-icon {
//                 font-size: 2vw;
//             }
//         }
//     }

// }

// @media (min-width: 1024px) {
//     height: 30%;


//     & .card-button-add {
//         width: 65%;
//         height: 100%;
//         padding-left: 0rem;

//     }

//     & .button-class {
//         width: 70%;
//         font-size: 70%;
//     }
// }

// @media (min-width: 1440px) {
//     height: 30%;


//     & .card-button-add {
//         width: 60%;
//         height: 100%;
//         padding-left: 0rem;

//         & .button-class {
//             width: 18vw;
//             height: 4.2vh;
//             font-size: 1vw;
//             margin-right: 1rem;

//             & .shopping-icon {
//                 font-size: 1vw;
//             }
//         }
//     }
// }