@use "../../css/styles.scss";

// Main Product Card
.product-card {
    background-color: styles.$background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    width: 90%;
    height: 18em;

    border: styles.$secondary-color transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.8s ease-in-out;
    transition-delay: initial 0.3s;


    &:hover {
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
        transition-delay: 0s;
        transition-duration: 0s;
        box-shadow: 0 0 8px #33333386;
    }

    & .card-image {
        width: 120px;
        height: 120px;
        object-fit: contain;
        margin: 1em 0 0.5em 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-body-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.7em;
        }
    
        .card-body-price {
            font-size: 0.8em;
        }

    }


    .card-buttons-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
        
        .button-class {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: none;
            text-decoration: none;
            background-image: styles.$gradient-background;
            padding: 0;
            font-size: 0.6em;
            width: 13em;
            min-height: .3rem;
            transition: all ease-in-out 0s, box-shadow linear 0ms;


            & .shopping-icon {
                font-size: 1.6em;
            }
        }

        .card-favorite-icon {
            object-position: center;
            padding: 0;
            margin: 0;
        }

    }

}

