@use "../../css/styles.scss";



.products-list-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;

    background-image: url("https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/background_mascotas_morado.jpg?alt=media&token=5a806210-2470-4b93-803b-c27e058c47e5");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 10% 10% 10% 0;
    margin: 0;

    & h3 {
        font-size: 80%;
        text-align: end;
        font-weight: bold;
        color: #f2f2f2;

        @media (min-width: 768px) {
            font-size: 3vw;
        }
    }

    & h6 {
        font-size: 60%;
        margin: 0;
        color: #f2f2f2;
        padding-left: 3rem;

        @media (min-width: 768px) {
            font-size: 1.8vw;
            
        }
    }

    @media (min-width: 768px) {
        height: 35vh;
    }

}

.main-form-products-categories {
    font-size: 100%;
    width: 80%;
    height: 10%;
    margin: 10% 0 0 20%;
    padding-left: 1rem;

    @media (min-width: 768px) {
        height: 30%;

    }
}



.products-container-main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: styles.$background-color;
    background-size: cover;
}

.main-container-card {
    position: absolute;
    display: grid;
    flex-wrap: wrap;
    row-gap: 0.7rem;

    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 100vh;
    margin: 0;
    padding: 0;

    & .product-card {
        width: 40vw;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;

        & .product-card {
            width: 95%;
        }

    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;

        & .product-card {
            width: 23vw;
        }

    }

}

.main-products-navbar {
    overflow: hidden;
    height: 100%;
    padding-bottom: 0.8rem;
    background-color: styles.$background-color;
}


.main-products-buttons-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;
    padding: 1rem;

    & .main-category-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;


        width: 15%;
        height: 2rem;
        font-size: 50%;
        font-weight: bold;
        background-color: styles.$purple-light;
        border: 1px solid #2e2646c5;
        box-shadow: 1px 1px 3px 1px rgba(65, 65, 65, 0.361);
        border-radius: 5px;

        &:hover {
            color: styles.$background-color;
            background-color: styles.$secondary-color;
            border: 1px solid #7a66ffc1;
            border-radius: 10px;
        }

        @media (min-width: 768px) {
            font-size: 80%;
            width: 12%;
            height: 3rem;
        }
    }
}

.main-products-container {
    padding: 0;
}

.products-list-container {
    padding: 0;

}