@use "../../css/styles.scss";


.products-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/fondo_juguetes.png?alt=media&token=bced5ba8-2e9c-42d7-85c3-5aa8a644f173");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1.5rem 0rem 1.2rem 2rem;
  margin: 0;

  & h3 {
    font-size: 1rem;
    text-align: start;
    font-weight: bold;
  }
  & h6 {
    font-size: 0.8rem;
    margin: 0;
  }


}



.products-navbar {
  overflow: hidden;
  height: 100%;
  padding-bottom: 0.8rem;
  background-color: #E5BEEC;

  @media (min-width: 768px) {
    }
  @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      height: 100%;
      padding: 0rem 1rem 0rem 1rem;
      }

  .form-products-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-size: 0.8rem;
  }

}
.products-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
}

.products-container {
  padding: 1rem;
  height: 100%;
  width: 100%;
  


  // @media (min-width: 768px) {
  //   grid-template-columns: repeat(3, 1fr);
    
  //   }
  // @media (min-width: 992px) {
  //     grid-template-columns: repeat(4, 1fr);
      
  //     }
  

}
.products-header-discount {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/mascotas_background_new_accesories.jpeg?alt=media&token=f0e5f8c7-2ea6-47a8-9ddf-a6649a7dad59");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1.5rem 0rem 1.2rem 2rem;
  margin-top: 1rem;

  & h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }
}
.container-icon {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.count-products {
	position: absolute;
	bottom: 52%;
	left: 50%;

	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: solid black 1.5px;
	width: 20px;
	height: 20px;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 50%;
}

#contador-productos {
	font-size: 0.9rem;
	font-weight: bold;
}
