@use "../../css/styles.scss";


.products-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/fondo_juguetes.png?alt=media&token=bced5ba8-2e9c-42d7-85c3-5aa8a644f173");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 2rem 1rem 2rem;

  & h3 {
    font-size: 5vw;
    text-align: start;
    font-weight: bold;
  }

  & h6 {
    font-size: 3.2vw;
    margin: 0;
  }
}

.form-products-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-size: 0.8rem;
  width: 100%;
  border-radius: 5px;
  margin-top: 2rem;
  padding-left: 0.5rem;
}

.products-navbar {
  overflow: hidden;
  height: 100%;
  padding: 0;
  background-color: styles.$background-color;

  & .products-buttons-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    & .category-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;


      width: 15%;
      height: 2rem;
      font-size: 55%;
      font-weight: bold;
      color: #1b0650;
      background-color: #f5f3ffd5;
      border: 1px solid #67549fc5;
      box-shadow: 1px 1px 6px 0.3px rgba(0, 0, 0, 0.244);
      border-radius: 5px;

      &:hover {
        color: styles.$background-color;
        background-color: #482351d4;
        border: 1px solid #7a66ffc1;
        border-radius: 10px;
      }
    }
  }
}

.products-container {
  background-color: styles.$background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 47vh;
  width: 100vw;

}

.discount-container {
  position: relative;
  background: styles.$primary-color;
  height: 100%;
  margin-top: 3rem;

}

.wave {
  position: absolute;
  height: 30px;
  width: 100%;
  background: styles.$background-color;
  bottom: 100%;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  overflow: hidden;
  width: 55%;
  height: 109%;
  background-color: #2A2F4F;
  right: -1.5%;
  top: 60%;
}

.wave::after {
  width: 55%;
  height: 100%;
  background-color: styles.$background-color;
  left: -1.5%;
  top: 37%;
}

.main-featured-container {
  background-color: styles.$primary-color;
  height: 100%;

}

h2 {
  color: styles.$background-color;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 170%;
  font-weight: bold;
}

.news-features{
  height: 2.5em;
}

.carrousel-container {
  padding: 0;

  .products-carousel-featured {
    background-color: styles.$primary-color;
    padding-bottom: 3rem;
    height: 48vh;
    width: 100%;

  }
}

@media (768px <= width <= 1024px){
  .products-header{
    height: auto !important ;

    & h3 {
      font-size: 2em
    }
  }
  .form-products-categories{
    width: 20em;
  }
}