@use "../../styles.scss";


.products-header {
  height: 26rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/fondo_juguetes.png?alt=media&token=bced5ba8-2e9c-42d7-85c3-5aa8a644f173");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  animation: fadeIn;
  animation-duration: 6s;
  border-radius: 20px;
}

.products-text-container {
  background-color: #ebebeba1;
  padding: 2rem;
  margin: auto;
  border-radius: 15px;
  text-align: left;


  & h1 {
    text-align: start;
    font-size: 2rem;
    padding: 1rem;
    color: rgba(22, 22, 22, 0.823);
  }

  & h3 {
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    font-size: 1.3rem;
    color: rgba(72, 72, 72, 0.831);
  }

}

.form-products-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-size: 1.5rem;
  width: 50%;
  border-radius: 5px;
  margin-top: 3rem;
  padding-left: 0.5rem;
}

.products-navbar {
  overflow: hidden;
  height: 100%;
  padding: 0;
  background-color: styles.$background-color;

  & .products-buttons-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;
    height: 8rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.category-buttons {
  background-color: #a10099;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.7rem;
  border-color: rgb(104, 0, 112);
  border-radius: 5px;
  color: rgb(243, 243, 243);
  padding: 0.8rem 1.8rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
  transition: background 0.3s linear, color 0.3s linear;

  &:focus,
  &:hover {
    background-color: #b500acc7;
    border-color: rgb(64, 0, 69);
    color: rgb(240, 240, 240);
    animation: pulse;
    animation-duration: 1s;
  }
}

.products-carousel {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 3rem;

  & .react-multi-carousel-item {
    display: block !important;
    margin: 0;
    padding: 0;
  }

}


// ///Products discount ///
.discount-container {
  position: relative;
  overflow: hidden;
  background: transparent;
  height: 100%;
  width: 100%;
  margin-top: 8rem;
  padding: 0 !important;
  border-radius: 15px;

}

.wave {
  position: absolute;
  height: 30px;
  width: 100%;
  background: styles.$background-color;
  bottom: 100%;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  overflow: hidden;
  width: 55%;
  height: 109%;
  background-color: #b5aee4;
  right: -1.5%;
  top: 60%;
}

.wave::after {
  width: 55%;
  height: 100%;
  background-color: styles.$background-color;
  left: -1.5%;
  top: 37%;
}

.main-featured-container {
  background-color: #b5aee4;
  height: 100%;
  width: 100vw;
  padding-bottom: 6rem;

}

h2 {
  color: rgb(22, 22, 22);
  height: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 .news-features {
  height: 2em;
}

@media (width <=768px) {
  .products-header {
    height: 25rem;
    background-position: right;
    padding-top: 4rem;

    & h1 {
      font-size: 1.5rem;
      font-weight: bolder;
    }

    & h3 {
      font-size: 0.9rem;
      font-weight: bolder;
    }
  }

  .form-products-categories {
    font-size: 1rem;
    width: 100%;
  }

  .products-navbar {
    & .products-buttons-section {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 4%;
      height: 4rem;
      padding-left: 4rem;
    }
  }

  .category-buttons {
    scroll-snap-align: center;
    padding: 0.6rem;
    text-decoration: none;
    font-size: 10px;
    line-height: 8px;
    font-weight: 600;
  }

  .products-carousel {
    background-color: transparent;
    height: 100%;
    padding: 0;

    & .react-multi-carousel-item {
      display: block !important;
      margin: 3rem 0rem;
    }

  }

  .discount-container {
    margin-top: 1rem;
  }

  .main-featured-container {
    padding-bottom: 4rem;

  }

  h2 {
    font-size: 1.5rem;
    height: 2rem;
    padding: 5rem 0 0 0;
    font-weight: 600;
  }

  h2 .news-features {
    height: 2.5em;
  }

}