@use "../../../shared/styles/styles.scss";

.icons-title {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: styles.$background-color-dark;
    animation: slideInDown 0.35s ease-out both;

    & h1 {
        color: styles.$white;
        font-size: 2rem;
        margin: 0;
    }

}

.icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    height: 15rem;
    margin: 3rem;
    animation: fadeIn 0.3s ease-out both;

    & .icons-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        animation: slideInUp 0.3s ease-out both;

        &:hover {
            transform: translateY(-2px);
        }

        & img {
            width: 100%;
            height: 7rem;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.6s ease-in-out;
            transition: 0.6s ease-in-out;

            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        & p {
            font-size: 90%;
            color: styles.$primary-color;
            font-weight: bold;
            margin-bottom: 1.2rem;
            height: 2rem;

            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;

            width: 7rem;
            margin-top: 1rem;
        }
    }


}

@media (width <=768px) {
    .icons-title {
        height: 3rem;
        width: 100%;

        & h1 {
            font-size: 1.2rem;
            margin: 0;
        }
    }

    .icons-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1.2rem;
        margin: 0 0 3rem 0;

        gap: 2.2rem;
        height: 100%;
        width: 100%;

        margin-top: 2rem;

        & .icons-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & img {
                width: 75%;
            }

            & p {
                font-size: 100%;
                height: 2rem;
                width: 10rem;
                text-align: center;
                margin-top: 1rem;
            }
        }


    }

}

.icons-container {
    .icons-item {
        &:nth-child(1) {
            animation-delay: 0.03s;
        }

        &:nth-child(2) {
            animation-delay: 0.06s;
        }

        &:nth-child(3) {
            animation-delay: 0.09s;
        }

        &:nth-child(4) {
            animation-delay: 0.12s;
        }

        &:nth-child(5) {
            animation-delay: 0.15s;
        }
    }
}

@media (prefers-reduced-motion: reduce) {

    .icons-title,
    .icons-container,
    .icons-item {
        animation: none;
    }

    .icons-item {
        transition: none;
        transform: none;
    }

    .icons-item img {
        transition: none;
        transform: none;
    }
}