@use "../../../shared/styles/styles.scss";

// Main Product Card
.product-card {
    background-color: white;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    animation: fadeIn;
    animation-duration: 2s;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

    & .card-favorite-icon {
        position: absolute;
        cursor: pointer;
        top: 7%;
        left: 85%;
        z-index: 10;
        -webkit-transition: 2s ease-in-out;
        transition: all 2s ease-in-out;
        transition-delay: initial 2s;

        .card-icons {
            font-size: 170%;

            &:hover {
                color: styles.$red-heart;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                transition: all 0.5s ease-in-out;
                transition-delay: 0.1s;
            }
        }
    }

    & .card-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 6rem;
        width: 100%;
        overflow: hidden;
        margin-bottom: 1rem;

        & .card-image {
            padding: 1rem;
            width: 100%;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
            aspect-ratio: 1/1;

            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    .card-buttons {
        background: styles.$purple-dark !important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.7rem;
        text-decoration: none;
        color: styles.$background-color-dark;
        font-size: 80%;
        font-weight: 600;
        border: 1px solid styles.$background-color-dark;
        border-radius: 5px;
        font-size: 80%;
        width: 90%;
        padding: 6px;
        margin: 0 0 0.4rem 0;
        line-height: 10px;
        font-weight: 600;
        text-transform: uppercase;
        -webkit-transition: background 0.3s linear, color 0.3s linear;
        transition: background 0.3s linear, color 0.3s linear;

        &:focus,
        &:hover {
            background: styles.$secondary-color;
            border-color: styles.$background-color-dark;
            color: rgb(10, 10, 10);
            animation: pulse;
            animation-duration: 1s;
        }
    }




    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 1rem;
        padding: 0.5rem;

        .card-body-price {
            color: styles.$price-color;
            font-size: 1.2rem;
            padding: 0;
            margin-bottom: 1.5rem;
        }

        .card-body-title {
            color: styles.$background-color-dark;
            font-size: 1.3rem;
            align-content: center;
            font-weight: 500;
            text-align: center;
            margin-bottom: 1rem;
        }
    }

}

@media (width <=768px) {
    .product-card {
        .card-favorite-icon {
            top: 5%;
            left: 75%;

            .card-icons {
                font-size: 150%;
            }
        }

        & .card-image-container {
            overflow: hidden;
            height: 100%;

            & .card-image {
                width: 100%;
                height: 100%;
                padding-top: 3rem;
            }
        }

        .card-body {
            .card-body-price {
                font-size: 0.8rem;
            }

            .card-body-title {
                font-size: 0.6rem;
            }
        }

    }

    .card-buttons {
        justify-content: center;
        font-size: 60% !important;
    }
}

@media (width <=390px) {
    .product-card {
        & .card-image-container {
            overflow: hidden;
            height: 100%;

            & .card-image {
                width: 100%;
                height: 100%;
                margin-top: 1.3rem;
                padding-top: 2rem;
            }
        }

        .card-body {
            .card-body-price {
                font-size: 0.8rem;
            }

            .card-body-title {
                font-size: 0.6rem;
            }
        }

    }

}