@use "styles";

/* About section Styles */
.about-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  position: relative;
  overflow: hidden;

  .about-img {
    opacity: 0.9;
    width: 100vw;
    height: 60vh;

    @media (min-width: 768px) {
      height: 100vh;
      }
    @media (min-width: 992px) {
        height: 100%;
        }
  }

  .card-overlay {
    position: absolute;
    margin-left: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: auto;
    overflow: hidden;

    & h1 {
      font-size: 1.2rem;
      font-weight: bold;

      @media (min-width: 768px) {
        font-size: 1.5rem;
        }
      @media (min-width: 992px) {
          font-size: 2rem;
          }
    }

    & h5 {
      font-size: 0.6rem;

      @media (min-width: 768px) {
        font-size: 0.8rem;
        }
      @media (min-width: 992px) {
          font-size: 1.1rem;
          }
    }

    // @media (max-width: 640px) {
    //   font-size: clamp(1rem, 1.5vw, 2rem);
    // }
    .about-image {
      width: 30%;
    }

    .about-button {
      text-decoration: none;
      margin-top: 0.5rem;
      font-size: 70%;
    }


  }
}