@use "styles";

// Main Product Card 
.product-card {
    overflow: hidden;
    background-color: #fff;


    &:hover {
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
        transition-delay: 0s;
        transition-duration: 0s;
        transition-timing-function: ease;
        transition-property: all;
        transition-delay: 0s;
        transition-duration: 0s;
        transition-timing-function: ease;
        box-shadow: 0 0 8px #33333386;
    }

    .card-image {
        position: relative;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0rem;
        margin: 0rem;
        max-height: 5rem;

        .card-body-title {
            font-size: 0.8rem;
            font-weight: normal;
            color: #161616e2;
        }

        .card-body-price {
            font-size: 0.8rem;
            font-weight: bold;
            color: #060606e2;
        }


    }

    .card-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0px;
        justify-content: center;
        align-items: center;

        background-color: rgb(255, 255, 255);
        padding: 0;
        border: none;
        margin-top: 1rem;


        .card-cart-icon {
            margin-right: 0rem;
            width: 7rem;

            .button-class {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem;
                border: none;
                text-decoration: none;
                background-image: linear-gradient(45deg, #566b6b 0%, #906a7d 100%);
            }
        }

        .card-favorite-icon {
            width: 0rem;
            padding-right: 0.8rem;
            margin-left: 0;
        }
    }

}