@use "styles";

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	bottom: 55%;
	left: 50%;

	background-color: #686868;
	color: rgb(254, 254, 254);
	width: 16px;
	height: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 10px;
}

