@use "styles";


.main-contact {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  overflow: hidden;

  .contact-img {
    opacity: 0.9;
    width: max-content;
    height: 100vh;
  }

  .contact-container {
    overflow: hidden;
    position: absolute;
    padding-left: 4rem;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;

    // @media (max-width: 640px) {
    //   font-size: clamp(1rem, 1.5vw, 2rem);
    //   min-height: 100vh;
    //   }

    .contact-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      text-align: end;
     
      font-size: 0.8rem;
      color: #000000;
      
    }

  }
}