@use "styles";

/* Footer Styles */
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.footer-image {
  opacity: 0.5;
  width: 100vw;
  max-height: 100vh;

}

.footer-container {
  position: absolute;
}

.footer-content {
  color: black;
  margin: 0;

}

.footer-text {

  font-size: 0.9em;
}