 @use "styles";

 /* Footer Styles */
 footer {
   width: 100%;
   padding: 0;
   margin-top: 2rem;
   background-color: #191127f4;
   background-image: linear-gradient(40deg, #191127 70%, #4338269d 95%);

   .footer-container {
     padding: 2rem;

     .footer-content {
       color: whitesmoke;
       margin: 0;
     }

     .footer-text {
       font-size: 0.7em;
     }
   }


 }