@use "styles";



/* Navbar Styles */
header {
  min-height: 7rem;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.549) 0%, rgba(0, 0, 0, 0.081) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.412) 0%, rgba(200, 214, 221, 0.6) 100%);
  background-blend-mode: normal, multiply;
}

.main-navbar {
  background-image: linear-gradient(40deg, #191127 78%, #433826 100%);
  background-color: #191127f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem 0rem 2rem;
  height: 7rem;
  overflow: hidden;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  height: 70%;
  width: 100%;
  margin: 1rem;
  padding: 0rem 1rem 0rem 1rem;

  @media (max-width: 720px) {
    .navbar-form {
      display: none;
    }
  }
}

.navbar-form {
  display: flex;
  overflow: visible;
  flex-direction: column;
  width: 10rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.navbar-select {
  height: 1.7rem;
  max-width: 80%;
  background-color: rgba(125, 125, 125, 0.655);
  color: rgb(255, 255, 255);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #191127f4;
  width: 1.9rem;
  height: 1.9rem;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.second-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
  padding: 0rem 5rem 0rem 5rem;
  background-color: #F0EFEF;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;

  @media (max-width: 520px) {
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0rem;

    .offline-user-warning {
      display: none;
    }
  }
}

.second-navbar-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.8rem;
  height: 100%;

  // @media (max-width: 520px) {
  //   padding-bottom: 0rem;

  // }
}

.welcome-user-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  font-size: 0.6rem;
  font-weight: bold;
  background-color: #F0EFEF;
  transition: background-color 0.2s ease-in-out;

  height: 100%;
  width: 100vw;
  padding: 0rem 1.2rem 0.4rem 0rem;

}
.text-header-name {
  color: rgb(44, 24, 202);
  text-decoration: none;
  font-size: 0.5rem;
}

.offline-user-warning {
  position: relative;
  color: rgba(134, 2, 2, 0.752);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
