@use "styles";



/* Navbar Styles */
header {
  height: 100%;
 
}

.main-navbar {
  background-color: #191127f4;
  height: 4rem;
  overflow: hidden;
}
.header-container{
  height: 100%;
}

.navbar-form {
  display: flex;
  overflow: visible;
  flex-direction: column;
  width: 13rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-select {
  margin: 0.7rem;
  max-width: 100%;
  background-color: rgba(39, 39, 39, 0.655);
  color: rgb(255, 255, 255);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #191127f4;
  width: 1.9rem;
  height: 1.9rem;
}

.second-navbar {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  background-color: styles.$secondary-color;
  opacity: 0.7;
}