@use "styles";



/* Navbar Styles */
header {
  height: 100%;
  width: 100%;
  margin-top: 9rem;
  background-color: styles.$secondary-color;
}

.main-navbar {
  background-color: #191127f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem 0rem 2rem;
  height: 9rem;
  overflow: hidden;
  width: 100%;
}

.header-container {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 720px) {
    .navbar-form {
      display: none;
    }
  }
}

.navbar-form {
  display: flex;
  overflow: visible;
  flex-direction: column;
  width: 13rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-select {
  margin: 0.7rem;
  max-width: 100%;
  background-color: rgba(54, 54, 54, 0.655);
  color: rgb(255, 255, 255);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #191127f4;
  width: 1.9rem;
  height: 1.9rem;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 18%;
}

.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0;
  height: 3rem;
  width: 5rem;
}

.second-navbar {
  height: 4rem;
  width: 100%;
  padding: 0rem 7rem 0rem 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0.9;

  @media (max-width: 520px) {
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0rem;
    padding-top: 9rem;
    height: 17rem;
  }
}

.second-navbar-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;

  @media (max-width: 520px) {
    padding-bottom: 1rem;

  }
}

.text-header-name {
  color: rgb(42, 24, 180);
  text-decoration: overline;
}