@use "styles";


/* Hero Section Styles */
.main-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 2rem;

    @media (max-width: 520px) {
      font-size: clamp(1rem, 1.5vw, 2rem);
      
    }
  }
  .hero-img {
    opacity: 0.9;
    width: 100vw;
    max-height: 100vh;
  }
  .hero-container {
    position: absolute;
    padding-left: 7rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .newhero-container {
    position: absolute;
    padding-right: 4rem;
    width: 100%;
    height: 100%;
    margin-right: 12rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .hero-logo {
    width: 15rem;
  }
  .text-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 2rem;
    font-size: 2em;

    @media (max-width: 640px) {
        font-size: clamp(0.5rem, 1.5vw, 2rem);
      }
    }
  .newtext-container {
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    margin-left: 2rem;
    font-size: 2em;

    @media (max-width: 640px) {
      font-size: clamp(0.5rem, 1.5vw, 2rem);
      }
  }
  .btn{
    font-size: small;

    @media (max-width: 640px) {
      font-size: x-small;
      }
  }
  
  