@use "styles";
@use "navbar";
@use "hero";
@use "about";
@use "contact";
@use "products";
@use "footer";
@use "cart";


.app {
  font-family: styles.$primary-font;
  // background-color: styles.$primary-color;
  background-image: url("/src/assets/img/fondo_huellitas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.routes-section {
  margin-top: 0rem;
}

.active-class {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-display: inherit;
  color: rgb(221, 221, 221);
  border-radius: 6px;
}

.inactive-class {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgba(208, 208, 208, 0.837);
  border-radius: 6px;
}

.active-class-second {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: solid 1px rgba(151, 151, 151, 0.563);
  padding: 4px;
  font-display: inherit;
  color: rgb(37, 222, 114);
  border-radius: 6px;
}

.inactive-class-second {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: solid 1px rgba(236, 236, 236, 0.563);
  padding: 4px;
  color: rgba(73, 73, 73, 0.929);
  border-radius: 6px;
}