@use "styles";
@use "header";
@use "hero";
@use "about";
@use "contact";
@use "products_main";
@use "footer";
@use "cart";
@use "cart-icon";
@use "notfound";
@use "blog";
@use "cards_products";
@use "card_detail";

//Main App Styles
.app {
  font-family: styles.$primary-font;
  background-color: styles.$primary-color;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/fondo_huellitas.jpg?alt=media&token=79e4597d-a748-4b2b-a9b1-c594974a27c7");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
  }
}


// IsActive class
.active-class {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-display: inherit;
  color: rgb(221, 221, 221);
  border-radius: 6px;
}

.inactive-class {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgba(208, 208, 208, 0.837);
  border-radius: 6px;
}

.active-class-second {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: rgba(104, 104, 104, 0.563);
  padding: 4px;
  font-display: inherit;
  color: rgb(239, 239, 239);
  border-radius: 6px;
}

.inactive-class-second {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: solid 1px rgba(236, 236, 236, 0.563);
  padding: 4px;
  color: rgba(73, 73, 73, 0.929);
  border-radius: 6px;
}
