@use "styles";



/* Navbar Styles */
.navbar-content {
  display: flex;
  flex-direction: column;
}

.main-navbar {
  background-color: #191127f4;
}

.navbar-form {
  display: flex;
  overflow: visible;
  flex-direction: column;
  width: 13rem;
  margin-top: 0.5rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-select {
  margin: 0.7rem;
  max-width: 100%;


}

.second-navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 5.5rem 0rem 0rem 0rem;
  background-color: styles.$secondary-color;
}