@use "styles";

/* Cards Products section */
.products-section {
  padding-top: 2rem;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.card {
  overflow: hidden;
  max-width: 80%;
  height: 55%;
  padding: 1rem;
}

.card-image {
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.card-image:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: max-content;
  margin: 2em;
  gap: 5px;
}
// .img-card-detail{

// }


.product-card{
  overflow: hidden;
  padding: 0.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.product-card:hover {
  transform: scale(1.02);
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 8px #81818186;
}
.card-detail{
  max-height: 20rem;
  padding: 0;
  

}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0rem;
  padding: 0.3rem;
}

