@use "../../shared/styles/styles.scss";

/* Breadcrumbs wrapper */
.breadcrumbs-wrapper {
  position: relative;
  z-index: 100;
}

/* About section Styles */
.about-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  min-height: 100vh;
  /* Cambio de height a min-height */
  width: 100%;
  overflow: hidden;
  animation: fadeIn 0.3s ease-out both;

  & .about-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    margin-bottom: 20%;
    animation: fadeIn;
    animation-duration: 1.2s;
    aspect-ratio: 16/9;
  }

  .card-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: auto;
    padding-bottom: 3rem;
    animation: slideInUp 0.4s ease-out both;

    & h1 {
      font-weight: bold;
      font-size: 2rem;
      animation: fadeInLeft;
      animation-duration: 1.2s;
      color: styles.$background-color-dark;
    }

    & h5 {
      font-size: 1.2rem;
      animation: fadeInRight;
      animation-duration: 1.6s;
      color: styles.$background-color-dark;
    }

    & .about-image {
      width: 25%;
      margin: 2rem 0 2rem 0;
      animation: fadeIn;
      animation-duration: 2s;
    }
  }
}

@media (prefers-reduced-motion: reduce) {

  .about-container,
  .about-container .card-overlay,
  .about-container .about-img,
  .about-container .card-overlay h1,
  .about-container .card-overlay h5,
  .about-container .card-overlay .about-image {
    animation: none;
  }
}

@media (width <=768px) {
  .about-container {
    margin-top: 0;

    .card-overlay {
      margin-top: 0;
      /* Eliminado: era 30% */
      padding-bottom: 0;

      & h1 {
        font-size: 1.5rem;
      }

      & h5 {
        font-size: 1rem;
      }

      & .about-image {
        width: 20%;
        margin: 0;
        animation: fadeIn;
        animation-duration: 5s;
      }
    }
  }


}

@media (width <=390px) {
  .about-container {
    margin-top: 0;

    .card-overlay {
      margin-top: 0;
      /* Eliminado: era 100% */
      padding-bottom: 0;

      & h1 {
        font-size: 1rem;
      }

      & h5 {
        font-size: 0.7rem;
      }

      & .about-image {
        width: 20%;
        margin: 0;
        animation: fadeIn;
        animation-duration: 5s;
      }
    }
  }


}