@use "../../styles.scss";

/* Navbar Styles */
#header {
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  border: none;
}

.main-navbar {
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  border: none;

  & .container-fluid {

    & .header-logo {
      width: 12%;
      margin-right: 8rem;

      img {
        width: 100%;
        margin: 0 0 0 4rem;
      }
    }

    & .navbar-toggle {
      padding: 4px;
      border: none;
      font-size: 1rem;
    }

  }
}

.offcanvas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #2a2f4f;

  .offcanvas-body {
    width: 2rem;
    padding-left: 2rem;
  }
}



// ////// Header Navbar Form //////
.navbar-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 3rem;
  width: 20rem;
  margin: 1rem;

}



.navbar-select {
  height: 100%;
  width: 100%;
  font-size: 100%;
  padding: 0 0 0 5%;
  border-radius: 4px 0px 0px 4px;
  background-color: rgba(255, 255, 255, 0.948);
  color: rgb(129, 129, 129);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 100%;
  border: none;
  border-radius: 0px 4px 4px 0px;
  background-color: #3d2e56;
  color: #dfdfdf;
}




/// Second Navbar ///
.second-navbar {
  display: flex;
  position: sticky !important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  width: 100%;
  height: 4rem;
  padding-right: 40%;
  background-color: #484a77;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.265);
  border: none;

  & .second-navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;

    & .navbar-nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;
    }
  }
}

.second-navbar-offcanvas {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 60vh;
}



.welcome-user-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  transition: background-color 0.2s ease-in-out;

  height: 100%;
  width: 100%;

  & p {
    font-size: 1em;

  }

  & .text-header-name {
    color: rgb(251, 211, 255);
    text-decoration: none;
    font-size: 0.8rem;
  }
}

// /// WhatsApp Floating Button ///
.btn-wsp {
  position: fixed;
  cursor: pointer;
  top: 80%;
  left: 90%;
  z-index: 100;


  & .wsp-image {
    width: 90%;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.624));
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.container-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 1rem;
}

.count-products {
  position: absolute;
  display: grid;
  place-items: center;
  bottom: 52%;
  left: 53%;

  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid black 1.5px;
  width: 23px;
  height: 23px;

  border-radius: 50%;
}

#contador-productos {
  font-size: 0.9rem;
  font-weight: bold;
}

.navbar-total-price {
  color: #ffffff;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 100%;
}

.logout-button {
  height: 50%;
  width: 6rem;
  margin: 1rem;
  font-size: 1rem;
}



/// media queries navbar ///
@media (width <=768px) {
  .main-navbar {
    height: 100%;
    padding: 0;

    & .container-fluid {
      padding-right: 1.2rem;

      & .header-logo {
        width: 22%;
        margin: 0;

        img {
          width: 100%;
          margin-left: 1rem;
        }
      }

      & .navbar-toggle {
        padding: 4px;
        border: none;
        font-size: 1rem;
      }

    }
  }

  .offcanvas {
    padding: 9rem 0.8rem;
    width: 70vw !important;

    & .offcanvas-header {
      background-color: #3c3f4ba3;
      border-radius: 5px;
      margin: 0 0.8rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;

    }

    & .offcanvas-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .logout-button {
    height: 50%;
    width: 6rem;
    font-size: 1rem;
  }

  .navbar-form {
    height: 3rem;
    width: 100%;
    padding-right: 1.5rem;

    & .navbar-select {
      font-size: 70%;
    }
  }

  .btn-wsp {
    top: 81%;
    left: 78%;
    width: auto;

    & .wsp-image {
      width: 90%;
    }
  }

  .second-navbar {
    height: 2.5rem;
    position: sticky !important;
    padding: 0;

    & .second-navbar-buttons {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.2rem;
    }
  }

  .second-navbar-offcanvas {
    width: 100vw;
    height: 100vh;
  }

  .second-navbar-offcanvas {
    padding-top: 7.5rem !important;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 0;
  }













}