 @use "../css/styles.scss";

 /* Footer Styles */
 footer {
   width: 100%;
   padding: 0;
   margin-top: 2rem;
   background-color: #2A2F4F;
   .footer-container {
     padding: 2rem;

     .footer-content {
       color: whitesmoke;
       margin: 0;
     }

     .footer-text {
       font-size: 0.7em;
     }
   }


 }