@use "../css/styles.scss";



/* Navbar Styles */
header {
  height: 100%;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.sticky {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
}


.main-navbar {
  background-color: #2A2F4F;
  height: 100%;
  width: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  width: 100%;

  @media (min-width: 1024px) {}
}

.header-logo img {
  width: 26vw;
}

.navbar-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;

  & .navbar-select {
    height: 1.5rem;
    width: 9rem;
    font-size: 0.6rem;
    padding: 0px 0px 0px 7px;
    border-radius: 4px 0px 0px 4px;
    background-color: rgba(255, 255, 255, 0.948);
    color: rgb(147, 147, 147);
  }

  & .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.6rem;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background-color: #191127f4;
    color: #b3b3b3;
  }

  @media (min-width: 768px) {
    & .navbar-select {
      width: 10rem;
      margin-left: 5rem;
    }
  }

  @media (min-width: 1024px) {
    & .navbar-select {
      width: 15rem;
      margin-left: 7rem;
    }
  }
}

.offcanvas-nav {
  width: 10vw;
  height: 55%;
  background-color: #2a2f4f;
  align-items: center;

  @media (min-width: 768px) {
    align-items: end;
    padding-right: 3.5rem;
  }

  @media (min-width: 1024px) {
    align-items: end;
    padding-right: 0.5rem;
  }
}

.offcanvas-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0;
  width: 50%;

  & .offcanvas-body-header {
    background-color: transparent;
  }

  @media (min-width: 1024px) {
    align-items: flex-end;
    width: 20vw;
  }
}

// Second Navbar

.second-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #917FB3;

  @media (max-width: 768px) {
    .offline-user-warning {
      display: none;
    }
  }

  & .second-navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: fit-content;
  }

  @media (min-width: 768px) {
    width: 100%;
    height: fit-content;
    padding-left: 8rem;

    & .second-navbar-buttons {
      width: 80%;
    }
  }

  @media (min-width: 1024px) {
    width: 100%;
    height: fit-content;
    padding-left: 10rem;

    & .second-navbar-buttons {
      width: 80%;
    }
  }
}

.navbar-nav {
  background-color: #917FB3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    font-size: 1.5vw;
  }

  @media (min-width: 1024px) {
    font-size: 2vw;
  }
}

.welcome-user-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 0.6rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;

  height: 100%;
  width: 100%;
  padding: 0.5rem 1.2rem 0.4rem 0rem;

  & p {
    font-size: 0.7rem;

  }

  & .text-header-name {
    color: rgb(251, 211, 255);
    text-decoration: none;
    font-size: 0.5rem;
  }

  @media (min-width: 768px) {
    & .text-header-name {
      font-size: 0.6rem;
    }
  }

  @media (min-width: 1024px) {
    & p {
      font-size: 0.8rem;
    }

    & .text-header-name {
      font-size: 0.8rem;
    }
  }

}

.offline-user-warning {
  position: relative;
  color: rgb(182, 0, 0);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;

  @media (min-width: 600px) {
    margin-right: 2rem;
  }
}

.btn-wsp {
  position: fixed !important;
  cursor: pointer;
  top: 85%;
  left: 84%;
  z-index: 100;
  height: 100%;

  & .wsp-image {
    width: 4rem;
  }

  @media (min-width: 768px) {
    left: 89%;

    & .wsp-image {
      width: 5rem;
    }
  }

  @media (min-width: 1024px) {
    left: 90%;

    & .wsp-image {
      width: 6.2rem;
    }
  }
}

.container-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.count-products {
  position: absolute;
  bottom: 52%;
  left: 50%;

  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid black 1.5px;
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
}

#contador-productos {
  font-size: 0.9rem;
  font-weight: bold;
}