@use "../css/styles.scss";



/* Navbar Styles */
header {
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.main-navbar {
  overflow: hidden;
  background-color: #2A2F4F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0rem 0.5rem 0.2rem 0rem;

  // @media (max-width: 720px) {
  //   .navbar-form {
  //     display: none;
  //   }
  // }
}

.header-logo img {
  width: 6rem;
}


.navbar-form {
  display: flex;
  overflow: visible;
  flex-direction: column;
  width: 10rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.navbar-select {
  height: 1.7rem;
  max-width: 80%;
  background-color: rgba(240, 240, 240, 0.866);
  color: rgb(40, 40, 40);

}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #191127f4;
  width: 1.9rem;
  height: 1.9rem;
}

.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.second-navbar-container{
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  top: 3.2rem;
  z-index: 1;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  width: 100%;
  height: 100%;
}

.second-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  width: 100%;
  height: 100%;
  padding: 0rem;
  background-color: #917FB3;

  @media (max-width: 576px) {
    .offline-user-warning {
      display: none;
    }
  }

  // @media (min-width: 600px) {
  //   flex-direction: row;

  // }


}

.second-navbar-buttons {
  width: 50%;
  height: 100%;


  // @media (max-width: 520px) {
  //   padding-bottom: 0rem;

  // }
}

.welcome-user-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 0.6rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;

  height: 100%;
  width: 100%;
  padding: 0.5rem 1.2rem 0.4rem 0rem;

}

.text-header-name {
  color: rgb(251, 211, 255);
  text-decoration: none;
  font-size: 0.5rem;
}

.offline-user-warning {
  position: relative;
  color: rgb(182, 0, 0);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;

  @media (min-width: 600px) {
    margin-right: 2rem;
  }

}

.btn-wsp {
  position: fixed;
  cursor: pointer;
  top: 75%;
  left: 85%;

}