@use "../../styles.scss";

/* About section Styles */
.about-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  & .about-img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    margin-bottom: -1rem;
    animation: fadeIn;
    animation-duration: 2s;
  }

  .card-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: auto;
    padding: 0rem 0rem 1rem 1rem;

    & h1 {
      font-weight: bold;
      animation: fadeInLeft;
      animation-duration: 2s;
    }

    & h5 {
      animation: fadeInRight;
      animation-duration: 3s;
    }

    & .about-image {
      width: 25%;
      animation: fadeIn;
      animation-duration: 5s;
    }
  }
}