@use "../../css/styles.scss";


.blog-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/mascotas_background_new_accesories.jpeg?alt=media&token=f0e5f8c7-2ea6-47a8-9ddf-a6649a7dad59);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  padding-left: 5rem;
  margin: 0rem;

  & h4 {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    height: 30vh;

    & h4 {
      font-size: 2rem;
    }
  }

}

.blog-cards-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 166, 146);
  gap: 2rem;
  height: 100%;
  padding: 3rem;
  margin-bottom: 0;
}

.blog-card {
  overflow: hidden;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000;
  font-weight: normal;
  text-decoration: none;
  box-shadow: 5px 5px 15px 2px #1515156a;

  & .blog-card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0rem 1rem 1rem 1rem;

    & .blog-card-title {
      font-size: 90%;
    }
  }

  & .blog-card-text {
    text-align: center;
    font-size: 70%;
  }

  @media (min-width: 768px) {
    height: 65vh;

  }

  @media (min-width: 1024px) {
    height: 70vh;

  }

  @media (min-width: 1440px) {
    height: 100vh;

  }
}