@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

.app {
  color: rgb(23, 23, 23);
  font-family: "Raleway", sans-serif;
  background-color: #fffbf4;
}
.routes-section {
  margin-top: 4rem;
}

/* Navbar Styles */
.main-navbar {
  height: 4rem;
  background-color: #fff1e1;
}
.navbar-form {
  display: flex;
  overflow: visible;
  flex-direction: column;
  width: 18rem;
  margin-top: 0.5rem;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.navbar-select{
  margin: 0.7rem;
  max-width: 100%;


}


.active-class {
  background-color: rgba(221, 221, 221, 0.755);
  text-decoration: none;
  padding: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgba(19, 19, 19, 0.92);
  border: #e2e2e244 solid 2px;
  border-radius: 6px;
}
.inactive-class {
  background-color: rgba(246, 246, 246, 0.366);
  text-decoration: none;
  padding: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgba(22, 22, 22, 0.556);
  border: #e9e9e960 solid 2px;
  border-radius: 6px;
}





/* Hero Section Styles */
.main-hero {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-img {
  opacity: 0.9;
  width: 100vw;
  max-height: 100vh;
}
.hero-container {
  position: absolute;
  width: 80%;
  height: 80%;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.newhero-container {
  position: absolute;
  width: 80%;
  height: 80%;
  padding: 2rem;
  margin-left: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
.hero-logo {
  width: 40%;
  height: 40%;
}
.text-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: 2rem;
  font-size: 2em;
}
@media screen and (max-width: 640px) {
  .text-container {
    font-size: medium;
  }
}
.newtext-container {
  display: flex;
  flex-wrap: wrap;
  text-align: end;
  margin-left: 2rem;
  font-size: 2em;
}
@media screen and (max-width: 640px) {
  .newtext-container {
    font-size: medium;
  }
}




/* About section Styles */
.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.about-img {
  opacity: 0.9;
  width: 100vw;
  height: 100%;
}
.card-overlay {
  position: absolute;
  margin-left: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1.5rem;
}
.about-image {
  width: 30%;
}
.about-button {
  text-decoration: none;
}






/* Contact Styles */
.main-contact {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.contact-container {
  position: absolute;
  color: rgba(215, 215, 215, 0.856);
  text-align: start;
  padding: 4rem;
}

/* Cards Products section */
.products-section {
  padding-top: 2rem;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 2em;
  gap: 5px;
}
.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card {
  overflow: hidden;
  max-width: 60%;
  margin: 7rem 0rem 4rem 0rem;
}
.card-image {
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.card-image:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.product-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 8px #81818186;
}
.cart-container {
  background-color: rgba(247, 247, 247, 0.971);
  padding-top: 2rem;
}




/* Footer Styles */
.main-footer {
  background-color: rgba(252, 252, 223, 0.9);
  max-height: 100vh;
}
.footer-content {
  margin: 1em;
}
.footer-text {
  font-size: 0.8em;
}
