@use "./css/styles.scss";
@use "./components/header.scss";
@use "./components/hero.scss";
@use "./views/home/about.scss";
@use "./views/home/contact.scss";
@use "./views/products/products_main.scss";
@use "./components/footer.scss";
@use "./views/cart/cart.scss";
@use "./utils/notfound.scss";
@use "./views/home/blog.scss";
@use "./views/products/cards_products.scss";
@use "./views/products/card_detail.scss";
@use "./views/cart/cart_product_card.scss";
@use "./views/products/favorites.scss";

//Main App Styles
.app {
  font-family: styles.$primary-font;
  background-color: #FDE2F3;
  // background-image: url("https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/fondo_huellitas.jpg?alt=media&token=79e4597d-a748-4b2b-a9b1-c594974a27c7");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-container {
  margin-top: 0;
  padding: 0px;
  height: 100%;
  width: 100%;  
}


// IsActive class
.active-class {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-display: inherit;
  color: rgb(221, 221, 221);
  border-radius: 6px;
}

.inactive-class {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgba(208, 208, 208, 0.837);
  border-radius: 6px;
}

.active-class-second {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 4px;
  font-display: inherit;
  color: rgb(91, 91, 91);
  border-radius: 6px;
}

.inactive-class-second {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 4px;
  color: rgba(233, 233, 233, 0.929);
  border-radius: 6px;
}
.active-button-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border: none;
  text-decoration: none;
  background-color: #566b6b;

}

.inactive-button-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border: none;
  text-decoration: none;
  background-color: #906a7d;
}
