@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");


$primary-font: "Raleway", sans-serif;

$background-color: #ffffff;
$gradient-background: linear-gradient(120deg, #778ab69b 0%, #ca4045c0 100%);
$gradient-background-two: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);


$primary-color: #2A2F4F;
$secondary-color: #917FB3; 
$purple-light: #ece1ffcf 
