@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");


$primary-font: "Raleway", sans-serif;

$background-color: #d9d9d9;
$background-color-dark: #312218;
$gradient-background: linear-gradient(to top, #f48b48 75%, #b08914 100%);
$gradient-background-two: linear-gradient(120deg, #ffd34e 0%, #fedd62 100%);


$primary-color: #665931;
$secondary-color: #f48b48; 
$purple-light: #fedd62;
$purple-dark: #ffd34e;
$white-dark: #bbb6b3;
$white-gray: #c2c2c2;
$white: #d9d9d9;
$black: #000000;
$gray: #a9a9a9;
$price-color: #706842;
$red-heart: #ff0f0f;

