@use "../../shared/styles/styles.scss";

/* Footer Styles */
footer {
  width: 100%;
  height: 100%;
  padding: 0;
  background: styles.$secondary-color;
}

.footer-container {
  padding: 2rem;

}

.footer-content {
  color: styles.$white;
  margin: 0;
  height: 100%;

}

h4 {
  font-size: 100%;
  padding-top: 3rem;
}

.footer-text {
  font-size: 90%;
  text-align: start;
  font-style: normal;
}

.footer-text a {
  color: inherit;
  text-decoration: none;
}

.footer-text a:hover,
.footer-text a:focus-visible {
  text-decoration: underline;
}

.footer-social {
  display: inline-flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: styles.$background-color-dark;
  color: styles.$white;
  margin: 0;
  font-size: 1rem;
  height: 2rem;
}

@media (width <=768px) {
  h4 {
    font-size: 90%;
  }

  .footer-text {
    font-size: 0.9rem;
  }

  .footer-copyright {
    font-size: 0.7rem;
    height: 2rem;
  }

}

@media (width <=390px) {
  .footer-text {
    font-size: 0.5rem;
  }

  .footer-copyright {
    font-size: 0.5rem;
    height: 1.8rem;
  }
}